
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    background: rgb(228, 219, 219);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px; 
    opacity: 0;
    transition: 0.3s;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

.navbar a::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(255, 0, 0);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s ;
}

.navbar :hover::after{
    width: 100%;
}

.social-media{
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 40px;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    transform: rotate(45deg);
    transition: .5s;
    opacity: 0;
    animation: slideSci .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover{
    border-color: rgb(0, 0, 0);
}

.social-media a i{
    font-size: 24px;
    color: rgb(255, 255, 255);
    transform: rotate(-45deg);
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 8% 0;
    overflow: hidden;
}

.home-tanga{
    max-width: 500px;
}

.home-tanga h1{
    font-size: 50px;
    line-height: 1.2;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .1s;
}

.home-tanga h3{
    font-size: 40px;
    color: blue;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .3s;
}

.home-tanga p{
    font-size: 16px;
    margin: 15px 0 30px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .3s;
    
}

.button{
    display: inline-block;
    padding: 10px 28px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 6px;
    box-shadow: 0 0 10px black;
    font-size: 16px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .5s;
}

.button:hover{
    background: transparent;
    color:rgb(0, 0, 0) ;
}

.home-img{
    position: relative;
    right: -7%;
    width: 450px;
    height: 450px;
    transform: rotate(45deg);
}

.home-img .rhombus{
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    border: 25px solid rgb(0, 0, 0);
    box-shadow: -15px 15px 15px rgb(0, 0, 0, .3);
    opacity: 0;
    animation: zoomOut 1s ease forwards;
    animation-delay: 1.6s;
}

.home-img .rhombus img{
    position: absolute;
    top: 100px;
    left: -180px;
    max-width: 650px;
    transform: rotate(-45deg);
    opacity: 0;
    animation: car 1s ease forwards;
    animation-delay: 2s; 
}

.home .rhombus2{
    position: absolute;
    top: -25%;
    right: -25%;
    width: 650px;
    height: 750px;
    background-color: rgb(208, 21, 21);
    transform: rotate(45deg);
    z-index: -1;
}

/* KEYFRAMES ANIMATION */
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0%{
        transform: translateY(100px);   
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0%{
        transform: translateY(-100px);   
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideSci {
    0%{
        transform: translateX(100px) rotate(45deg);   
        opacity: 0;
    }
    100%{
        transform: translateX(0) rotate(45deg);
        opacity: 1;
    }
}

@keyframes zoomOut {
    0%{
        transform: scale(1.1);   
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes car{
    0%{
        transform:translate(300px, -300px) scale(0) rotate(-45deg);   
        opacity: 0;
    }
    100%{
    
        transform:translate(0,) scale(1) rotate(-45deg);
        opacity: 1;
    }
}
